extends layout

block content

    include rules

    ul#sections
        each section, i in sections
            li.section
                if section.url
                    a(href=section.url) #{section.title}
                +section(section.forums, forums, ['FÓRUM', 'TÉMATA', 'PŘÍSPĚVKY', 'POSLEDNÍ PŘÍSPĚVEK'], 'forum')
                +section(section.announcements, announcements, ['OZNÁMENÍ', 'ODPOVĚDI', 'ZOBRAZENÍ', 'POSLEDNÍ PŘÍSPĚVEK'])
                +section(section.topics, topics, ['TÉMATA', 'ODPOVĚDI', 'ZOBRAZENÍ', 'POSLEDNÍ PŘÍSPĚVEK'])

mixin section(list, elements, headers, type)
    if list.length > 0
        table.forums.section
            tr
                th.icon
                th.title.left
                    | #{headers[0]}
                th.stat1.center
                    | #{headers[1]}
                th.stat2.center
                    | #{headers[2]}
                th.last_post.left
                    | #{headers[3]}
            each elId in list
                - var el = elements[elId]
                if el
                    tr
                        td.icon
                            if el.locked
                                div.lock
                                    | &nbsp;
                        td.title
                            a(href=el.url) #{el.title}
                            if type !== 'forum'
                                br
                                | #{el.created} od&nbsp;
                                a(href=el.user style=el.user_color?'color: '+el.user_color+';':'') #{el.username}
                        if type === 'forum'
                            td.stat1
                                | #{el.n_topics}
                            td.stat2
                                | #{el.n_posts}
                        else
                            td.stat1
                                | #{el.n_posts}
                            td.stat2
                                | #{el.n_views}
                        td.last_post
                            if el.last_post
                                a(href=el.last_post.post) #{el.last_post.created}
                                | &nbsp;od&nbsp;
                                a(href=el.last_post.user style=el.last_post.user_color?'color: '+el.last_post.user_color+';':'') #{el.last_post.username}

