extends layout

block content
    h1(style=color?'color: '+color+';':'')= title

    if page > 0
        p page #{page}

    ul#memberlist
        li
            table.section
                tr
                    th.title.left
                        | UŽIVATEL
                    th.rank.right
                        | RANK
                    th.stat1.right
                        | PŘÍSPĚVKY
                    th.last_post.left
                        | REGISTROVÁN
                each user in users
                    tr
                        td.title
                            a(href=user.url style=user.color?'color: ' + user.color + ';':'') #{user.username}
                            if (user.moderator)
                                div.float_right
                                    | MODERÁTOR
                        td.rank
                            | #{user.rank}
                        td.stat1
                            | #{user.nPosts}
                        td.last_post
                            | #{user.registered}
