extends layout

block content
    h1= title

    if page > 0
        p page #{page}

    ul#memberlist
        li
            table.section
                tr
                    th.title.left
                        | UŽIVATEL
                    th.stat1.right
                        | PŘÍSPĚVKY
                    th.last_post.left
                        | REGISTROVÁN
                each user in users
                    tr
                        td.title
                            a(href=user.url) #{user.username}
                        td.stat1
                            | #{user.n_posts}
                        td.last_post
                            | #{user.registered}
