table.navi
    tr
        td.path
            a(href=meta.base) Fórum
            if navi.parent && navi.parent !== meta.base+'/'
                | &nbsp;&gt;&nbsp;
                a(href=navi.parent) #{navi.parentTitle}
            if navi.forum && navi.forum !== meta.base+'/'
                | &nbsp;&gt;&nbsp;
                a(href=navi.forum) #{navi.forumTitle}
            br
            a(href='/active-topics.html') aktivní témata
            | &nbsp;|&nbsp;
            a(href='/unanswered.html') témata bez odpovědí
        td.paging
            if navi.page > 0
                if navi.page > 1
                    | &nbsp;&nbsp;
                    a(href=navi.first) |&lt;
                if navi.prev
                    | &nbsp;&nbsp;
                    a(href=navi.prev) &lt;&lt;
                | &nbsp;Stránka #{navi.page} z #{navi.pages}
                if navi.next
                    | &nbsp;&nbsp;
                    a(href=navi.next) &gt;&gt;
                if navi.page < navi.pages
                    | &nbsp;&nbsp;
                    a(href=navi.last) &gt;|
        td.links
            a(href=asJson) json
            | &nbsp;|&nbsp;
            a(href=url) data source page
            br
            form(action='/search.php' method='get')
                input#keywords.inputbox(name='keywords' maxlength='128' title='Hledat klíčová slova' value=keywords?keywords:"Hledej…" onclick="if(this.value=='Hledej…')this.value='';" onblur="if(this.value=='')this.value='Hledej…';" type="text")
                input.button(value='Hledat' type='submit')
