if poll
    ul.poll
        li
            h2= poll.title
            table#poll.section
                each option in poll.options
                    tr
                        td.title
                            | #{option.text}
                        td.stat1
                            if !poll.resultsUrl
                                | #{option.votes}
                        td.polloption
                            if !poll.resultsUrl
                                span.polloption(style='width: ' + option.percents_voters + '%;')
                                    | &nbsp;
                        td.stat2
                            if !poll.resultsUrl
                                | #{option.percents}%
            div.poll_stats
                if poll.resultsUrl
                    | Hlasování probíhá.&nbsp;
                    a(href=poll.resultsUrl) Zobraz výsledky
                else
                    | #{poll.n_votes} hlasů. #{poll.n_voters} hlasujících
