extends layout

block content

    include rules

    include poll

    - var n_gmoderators = moderators.groups.length
    - var n_umoderators = moderators.users.length
    if n_gmoderators > 0 || n_umoderators > 0
        p.moderators Moderátor:#{' '}
            if n_gmoderators > 0
                each group, i in moderators.groups
                    a(href=group.url style=group.color?'color: '+group.color+';':'') #{group.title}
                    if n_gmoderators-1 !== i || n_umoderators > 0
                        | #{', '}
            if n_umoderators > 0
                each user, i in moderators.users
                    a(href=user.url style=user.color ? 'color: ' + user.color + ';' : '') #{user.title}
                    if n_umoderators-1 !== i
                        | #{', '}

    ul#posts
        each post in posts
            li(id='p'+post.phpbbid)
                div.post
                    div.postColumn.postBody
                        a(href=post.url) #{post.title}
                        | &nbsp;od&nbsp;
                        a(href=post.user style=post.user_color?'color: '+post.user_color+';':'') #{post.username}
                        | &nbsp;#{post.created}
                        hr
                        div.postContent
                            p!= post.content
                        if post.signature && post.signature.length > 0
                            hr
                            p!= post.signature
                        if post.likes && post.likes.length > 0
                            hr
                            - var n_likes = post.likes.length - 1
                            p.likes příspěvek získal #{n_likes+1} poděkování od:&nbsp;
                            each like, i in post.likes
                                a(href=like.user style=like.user_color?'color: '+like.user_color+';':'') #{like.username}
                                if n_likes !== i
                                    | #{', '}
                    div.postColumn.postProfile
                        if post.avatarSrc
                            img(src=post.avatarSrc width=90 height=90 alt='avatar uživatele ' + post.username)
                            br
                            br
                        a(href=post.user style=post.user_color ? 'color: ' + post.user_color + ';' : '')
                            strong
                                | #{post.username}
                        br
                        if post.user_rank
                            i
                                | #{post.user_rank}
                            br
                        if post.user_posts > 0
                            br
                            | Příspěvků: #{post.user_posts}
                        if post.user_registered
                            br
                            | Registrován: #{post.user_registered}
